<%- include header.ejs %>

<%- include main_nav.ejs %>

  <div class="container section-padding">
      <div class="row justify-content-md-center">
          <div class="col-lg-6">
              <h1 class="lead text-center text-heading">Edit A Survey</h1>
              <form method="post">
                  <div class="mb-3">
                    <label class="form-label">Survey Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Survey Name" required value="<%= survey.name %>">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Expiry Date</label>
                    <input type="date" class="form-control" name="date" placeholder="Expiry Date" required value="<%= survey.date %>">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Question 1</label>
                    <input type="text" class="form-control" name="q1" placeholder="Question 1" required value="<%= survey.q1 %>">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Question 2</label>
                    <input type="text" class="form-control" name="q2" placeholder="Question 2" required value="<%= survey.q2 %>">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Question 3</label>
                    <input type="text" class="form-control" name="q3" placeholder="Question 3" required value="<%= survey.q3 %>">
                  </div>
                  <div class="mb-5">
                    <label class="form-label">Question 4</label>
                    <input type="text" class="form-control" name="q4" placeholder="Question 4" required value="<%= survey.q4 %>">
                  </div>
                  <div class="text-center">
                      <button type="submit" class="btn btn-primary shadow-none custom-button"><strong>Edit</strong></button>
                      <!-- <button class="btn btn-danger shadow-none custom-button"><strong>Delete</strong></button> -->
                      <a href="/list/delete/<%= survey._id %>" id="btn-delete" class="btn btn-danger shadow-none delete-button m-2">Delete</a>
                      <a href="/list/mysurvey" class="btn btn-warning shadow-none custom-button">Cancel</a>
                      
                  </div>
                  
              </form>
          </div>
      </div>
  </div>

  <%- include bottom_nav.ejs %>

  <%- include footer.ejs %>